<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | E-Exam Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/Content/ltelogincss")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="javascript:void(0)"><b>Online</b>EXAM</a>
        </div>

        @RenderBody()

    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    @Scripts.Render("~/bundles/ltejquery")

    @Scripts.Render("~/bundles/loginJS")
    <!-- InputMask -->
    <script src="~/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script>
        $(function () {
            $('[data-mask]').inputmask()

            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
